@tailwind base;
@tailwind components;
@tailwind utilities;

.key--darker {
  @apply bg-gray-800 border-gray-700 shadow-gray-900;
}

.key--medium {
  @apply col-span-2;
}

.light {
  --bgColor: #f0f8ff;
  --textColorPrimary: #141414;
  --buttonPrimary: #320064;
  --buttonSecondary: #7D3C98;
}

.dark {
  --bgColor: #141414;
  --textColorPrimary: #f0f8ff;
  --textColorSecondary: hsl(0, 83.87%, 63.53%);
  --buttonPrimary: #320064;
  --buttonSecondary: #7D3C98;
}

/* Maybe have more themed options to toggle? */

/* .blue {
  --bgColor: hsl(195, 53%, 79%);
  --gtColor1: hsl(93.2, 94.5%, 78.63%);
  --gtColor2: hsl(59.56, 91.89%, 70.98%);
}
.green {
  --bgColor: hsl(150, 80%, 15%);
  --gtColor1: hsl(181.65, 100%, 35.69%);

  --gtColor2: hsl(153.81, 100%, 38.63%);
  --textColorPrimary: hsl(138.46, 79.59%, 90.39%);
  --textColorSecondary: hsl(189.15, 100%, 46.27%);
}
.brown {
  --bgColor: hsl(39, 70%, 50%);
  --gtColor1: hsl(162.9, 100%, 37.84%);
  --gtColor2: hsl(158.54, 100%, 26.86%);
}
.pink {
  --bgColor: hsl(350, 100%, 88%);
  --gtColor1: hsl(96.92, 73.58%, 89.61%);
  --gtColor2: hsl(105.6, 100%, 95.1%);
} */
